@{
    ViewData["Title"] = "Index";
}

@{
    gRPC.Protos.ProductList data = ViewBag.data;
}

<form method="get">
    <div class="container p-4 border">
        <div class="row">
            <div class="col text-right pb-2">
                <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Product</a>
            </div>
        </div>        
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Product List</h1>
            </div>
        </div>
        <div>@TempData["message"]</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data.ProductResponses)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.CategoryName</td>                        
                        <td>@item.Price</td>                        
                        <td>
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="link-primary">Details</a>                            
                            @* <i class="bi bi-pencil-square"></i> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</form>